:root {
    --primary: #A300E5;
    --secondary: #4E076B;
}

@font-face {
	font-family: junebug;
	src: url(../font/JUNEBUG.TTF);
}

body {
    background: url(../img/bg-page.png);
    background-size: cover;
}

#page {
    height: 97.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container {
    width: 958px;
	height: auto;
	margin: auto;
    position: relative;
}

#background {
    width: 950px;
	height: 630px;
    display: flex;
	align-items: center;
	justify-content: center; 
	border: #FFF 4px solid;
    background-image: url(../img/background/bg.png);
}

#start {
    width: 500px;
	height: 300px;
	padding: 20px;
    font-size: 17px;
    text-align: justify;
	font-family: sans-serif;
    border: var(--primary) 2px solid;
	border-radius: 10px;
	box-shadow: 0 0 15px black;
    background-color: #FFF;
}

h1 {
    font-family: junebug;
	font-size: 40px;
    text-align: center;
	color: var(--primary);
}

#start .info {
    margin-bottom: 30px;
}

#start .info strong {
    color: var(--primary);
}

#start .start-game {
    width: 350px;
    margin: auto;
	font-family: junebug;
    text-align: center;
    color: var(--primary);
    cursor: pointer;
}

#start .start-game:hover {
	color: var(--secondary);
}

#player {
    height: 150px;
	width: 91.4px;
	top: 179px;
    left: 100px;
    position: absolute;
}

#bird {
	height: 49px;
    width: 73.7px;
	top: 253px;
    left: 875px;
    position: absolute;
}

#frog {
	height: 40px;
    width: 46px;
	top: 477px;
	left: 905px;
    position: absolute;
}

#cat {
    height: 60px;
    width: 70px;
	top: 460px;    
	left: 10px;
    position: absolute;
}

#shot {
    height: 23px;
    width: 25px;
	position: absolute;
}

#collisionOne {
	height: 49px;
    width: 73.7px;
	position: absolute;
}

#collisionTwo {
	height: 37px;
    width: 44px;
	position: absolute;	
}

#collisionThree {
	height: 60px;
    width: 70px;
	position: absolute;
}

#collisionFour {
	height: 150px;
    width: 91px;
    position: absolute;
}

#score {
	height: 50px;
    width: 550px;
	top: 590px;
    left: 5px;
    position: absolute;
}

#score h2 {
    font-family: junebug;
	font-size: 18px;
	margin-left: 15px;
	color: #FFF;
}

#hearts {
	height: 53px;
    width: 202px;
	top: 12px;	
    left: 740px;
	position: absolute;
}

#gameover {
    height: 200px;
    width: 350px;
	padding: 10px;
	text-align: center;	
	border: var(--primary) 2px solid;
	border-radius: 10px;
	box-shadow: 0 0 15px black;
    background-color: #FFF;
}

#gameover p {
    font-size: 17px;
    font-family: sans-serif;
}

#gameover h3 {
	font-size: 20px;
    font-family: junebug;
	color: var(--primary);
}

#restart h3 {
    width: 270px;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
}

#restart h3:hover {
	color: var(--secondary);
}

#footer {
    width: 958px;
    height: 25px;
    margin: auto;
    margin-top: -15px;
    text-align: end;
    font-size: 17px;
    font-family: sans-serif;
}

#footer a {
    text-decoration: none;
    color: var(--primary);
}

#footer a:hover {
    color: var(--secondary);
}